[defaults]
host_key_checking = False
remote_user = azureuser
private_key_file = /tmp/azure_vm_key.pem
inventory = ansible/inventory.ini

[ssh_connection]
ssh_args = -o ControlMaster=no -o StrictHostKeyChecking=no
pipelining = True